:import {
  -st-from: "wix-ui-core/index.st.css";
  -st-named: Popover, Popover_popoverContent;
}

.root {
  -st-extends: Popover;
  -st-states: withWidth, withArrow;
}

.root::popoverContent {
  overflow: hidden;

  min-width: 192px;
  width: 100%;
}

/* Reset width when the user define its own */
.root:withWidth .Popover_popoverContent {
  min-width: inherit;
  width: inherit;
}

/* Add padding when an arrow is used */
.root:withArrow::popover[data-placement*="top"] .Popover_popoverContent,
.root:withArrow::popover[data-placement*="bottom"] .Popover_popoverContent {
  padding: 10px 0;
}
