:import {
  -st-from: "../../../TableListItem/TableListItem.st.css";
  -st-default: TableListItem;
}

:import {
  -st-from: '../foundations/colors.st.css';
  -st-named: B50;
}

:import {
  -st-from: '../foundations/spacing.st.css';
  -st-named: SP3;
}

.root {
  -st-extends: TableListItem;
}

.root:verticalPadding(small) {
  padding: 0 0 value(SP3) 0;
}

.root:verticalPadding(small):not(:first-child) {
  padding-top: value(SP3);
}

.root:verticalPadding(small).align:not(:last-child) {
  margin: 0;
}

.root:verticalPadding(small):clickable:hover{
  background-color: value(B50);
  cursor: pointer;
}
