:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: G30, R30, D60, D20, D10-10, B50, B40;
}

.root {
  -st-states: divider, type(enum(stretched, condensed));
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  cursor: default;
}

.moreItemAvatar {
  @extend .avatar;
  -st-states: clickable(boolean);
  color: value(D20);
  border-radius: 50%;
  user-select: none;
  z-index: 1;
}


.moreItemAvatar :global([data-hook*='avatar-core']) > div {
  color: value(D20) !important;
}

.moreItemAvatar :global([class*="externalContainer"]) {
  z-index: 10000;
}

.root:type(condensed) .moreItemAvatar :global([data-hook*='avatar-core'])::before {
  content: " ";
  position: absolute;
  z-index: 15000;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid value(D10-10);
  border-radius: 50%;
}

.root:type(condensed) .moreItemAvatar :global([data-hook*='avatar-core']) {
  background-color: white !important;
  border: 2px solid white;
  border-radius: 50% !important;
}

.root:type(stretched) .moreItemAvatar :global([data-hook*='avatar-core']) {
  background-color: white !important;
  border: 2px solid value(D10-10);
  border-radius: 50% !important;
}

.moreItemAvatar:clickable :global([data-hook*='avatar-core']):hover {
  background-color: value(B50) !important;
}

.moreItemAvatar:clickable :global([data-hook*='avatar-core']):active {
  background-color: value(B40) !important;
}

.root:type(stretched) > .avatar {
  margin-right: 6px;
}

.root:type(condensed) > .avatar {
  margin-right: -6px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
}

.divider {
  -st-states: size(enum(small, medium)), type(enum(stretched, condensed));
  margin-right: 12px;
  background-color: value(D60);
}

.divider:type(stretched) {
  margin-left: 6px;
}

.divider:type(condensed) {
  margin-left: 18px;
}

.divider:size(small) {
  height: 24px;
}

.divider:size(medium) {
  height: 30px;
}
.popover {
  z-index: 100;
}

