:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: G30, R30, D60, D20, D10-10, B50, B40;
}

:import {
  -st-from: "../Avatar/Avatar.st.css";
  -st-default: Avatar;
}

.root {
  -st-states: divider, type(enum(stretched, condensed));
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Avatar Item */
.avatarItem {
  -st-extends: Avatar;
}
.avatarItem ::avatar ::content {
  cursor: initial;
  user-select: none;
}

.root:type(stretched) > .avatarItem {
  margin-right: 6px;
}

.root:type(condensed) > .avatarItem {
  margin-right: -6px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
}

/* moreItemAvatar */

.moreItemAvatar {
  -st-extends: Avatar;
  -st-states: clickable(boolean);
  border-radius: 50%;
  user-select: none;
  z-index: 1;
}
.root .moreItemAvatar ::avatar {
  background-color: white;
}
.root .moreItemAvatar ::avatar ::content {
  color: value(D20);
  visibility: visible !important;
}

.moreItemAvatar .root {
  z-index: 100;
}

.root:type(condensed) .moreItemAvatar ::avatar::before {
  content: " ";
  position: absolute;
  z-index: 15000;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid value(D10-10);
  border-radius: 50%;
}

.root:type(condensed) .moreItemAvatar ::avatar {
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
}

.root:type(stretched) .moreItemAvatar ::avatar {
  background-color: white;
  border: 2px solid value(D10-10);
  border-radius: 50%;
}


.moreItemAvatar:clickable {
  cursor: pointer;
}

.moreItemAvatar:clickable ::avatar:hover {
  background-color: value(B50);
}

.moreItemAvatar:clickable ::avatar:active {
  background-color: value(B40);
}

/* Divider */

.divider {
  -st-states: size(enum(small, medium)), type(enum(stretched, condensed));
  margin-right: 12px;
  background-color: value(D60);
}

.divider:type(stretched) {
  margin-left: 6px;
}

.divider:type(condensed) {
  margin-left: 18px;
}

.divider:size(small) {
  height: 24px;
}

.divider:size(medium) {
  height: 30px;
}

/* Popover */
.popover {
  z-index: 100;
}

